.DS_Store
Thumbs.db
.vscode/
.idea/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
venv/
.venv/
ENV/
env/
.env
.ipynb_checkpoints/
*.log
*.out
coverage/
htmlcov/
.env
*.env
.env.*
build/
dist/
*.egg-info/
.eggs/
*.dockerfile
*.sqlite3
# Ignore local Python virtual environment
fresh_env_310/